@charset "UTF-8";
/*image*/
.img-fluid {
	max-width: 100%;
	height: auto;
}

/*footer*/
.footer {
	position: absolute;
	top: calc(100% - 100px);
	bottom: 0px;
	left: auto;
	right: auto;
}

.footer-content {
	box-sizing: border-box;
	width: 1240px;
	height: 180px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #ddd;
	color: black;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
}