@charset "UTF-8";
 
 
 
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
    background-color: #3D5A73;
  }

 
#calendar {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    color: #fff;
    background-color: #3D5A73;
  }
  
 
 /* 토요일 - 파란색 */
#calendar th.fc-day-sat, td.fc-day-sat { 
	color:#b0d9be; 
	}  
	   

/*일요일 - 빨간색 */	
#calendar th.fc-day-sun, td.fc-day-sun { 
	color:#d0b9be; 
	}

.fc .fc-toolbar-title {
	color:#add9d4;
	font-size: 30px;
}

.fc .fc-button-primary{
	background-color: #568c82;
	border: #568c82;
}

.fc .fc-button-primary:hover{
	background-color:#3d665f;
	background-color: var(--fc-button-hover-bg-color, #3d665f);
	border: #3d665f;
	border: var(--fc-button-hover-border-color, #3d665f);
}


.fc .fc-button-primary:disabled{
	background-color: #508c60;
	background-color: var(--fc-button-bg-color, #508c60); /* 동적으로 css값 지정, 색생 값을 지정하는 변수 지정 */
	border: #508c60;
	border: var(--fc-button-border-color, #508c60);
}	

.fc .fc-button-primary:focus{
	box-shadow: 0 0 0 0.2rem rgba(61, 90, 115, 0.5);
}

/* fc-button-primary 클래스 버튼들 중 disabled 속성을 지니지 않으면서 active을 속성을 지닌 버튼과
	disabled 속성을 지니지 않은 fc-button-primary 클래스의 자식 클래스인 fc-button-active 버튼의 css값 지정*/

.fc .fc-button-primary:not(:disabled):active,
	.fc .fc-button-primary:not(:disabled).fc-button-active {
	background-color: #3d665f;
	background-color: var(--fc-button-active-bg-color, #3d665f);
	border: #3d665f;
	border: var(--fc-button-active-border-color, #3d665f);
}

.fc .fc-button-primary:not(:disabled):active:focus,
	.fc. .fc-button-primary:not(:disabled).fc-button-active:focus {
	box-shadow: 0 0 0 0.2rem rgba(61, 90, 115, 0.5);
}


.fc-event-title-container{
	background-color: #809bbf;
	background-color: var(--fc-event-bg-color, #809bbf);
	border: 1px solid #809bbf;
	border: var(--fc-event-border-color, #809bbf);
}

